<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <a mat-button [routerLink]="'/'"><h1>Cake&Bake </h1> </a>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/recipes'"> Recipes </a>
            <a mat-button [routerLink]="'/categories'"> Categories </a>
            <a mat-button [routerLink]="'/recipe/new'"> Create a Recipe </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>