<div class="search-wrapper">
    <div class="content">
        <h1>Find a recipe</h1>
        <form>
            <mat-form-field class="example-full-width">
                <mat-label class="label-icon" for="search">Search all recipes</mat-label>
                <input matInput placeholder="Ex. Pizza">
            </mat-form-field>
        </form>
    </div>
</div>

<!-- <div class="categories">
    <div class="category">
        <h5>Asian</h5>
    </div>
    <div class="category">
        <h5>Mexican</h5>
    </div>
    <div class="category">
        <h5>Italian</h5>
    </div>
    <div class="category">
        <h5>American</h5>
    </div>
    <div class="category">
        <h5>Asian</h5>
    </div>
    <div class="category">
        <h5>Asian</h5>
    </div>
    <div class="category">
        <h5>Asian</h5>
    </div>
</div> -->