<div class="wrapper">
    <h1>All Recipes</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Total ratings</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of response">
                <td><a routerLink="[item.id]">{{item.name}}</a></td>
                <td>{{item.description}}</td>
                <td>{{item.ratings}}</td>
                <td>{{item.numRatings}}</td>
            </tr>
        </tbody>
    </table>
</div>

