<div class="wrapper">
    <h1>Create a new recipe</h1>
    <div class="row">
        <form class="example-form" (submit)="createRecipe">
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput name="name" [(ngModel)]="newRecipe.name" placeholder="Ex. Pizza">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Desciption</mat-label>
                <textarea matInput [(ngModel)]="newRecipe.description" name="description" placeholder="Ex. Dice the tomatoes..."></textarea>
            </mat-form-field>
            <br>
            <button mat-raised-button>Add recipe</button>
        </form>
        
        <form class="example-form" (submit)="createIngredient">
            <mat-form-field class="example-full-width">
                <mat-label>Ingredient</mat-label>
                <input matInput [(ngModel)]="newIngredient.name" name="ingr-name" placeholder="Ex. Pizza">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Amount</mat-label>
                <input matInput [(ngModel)]="newIngredient.amount" name="ingr-amount" placeholder="Ex. Pizza">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Unit of measurement</mat-label>
                <select matNativeControl required id="measure" [(ngModel)]="newIngredient.measurement" name="measure">
                    <option value="" disabled selected>Select a unit...</option>
                    <option value="tbsp">tablespoon</option>
                    <option value="tsp">teaspoon</option>
                    <option value="floz">fluid ounces</option>
                    <option value="c">cup</option>
                    <option value="pt">pint</option>
                    <option value="qt">quart</option>
                    <option value="gal">gallon</option>
                    <option value="oz">ounce</option>
                    <option value="lb">pound</option>
                </select>
            </mat-form-field>
            <br>
            <button mat-raised-button>Add ingredient</button>
        </form>

        <form class="example-form" (submit)="createStep">
            <mat-form-field class="example-full-width">
                <mat-label>Add a step</mat-label>
                <textarea matInput [(ngModel)]="newStep.inst" name="step-name" placeholder="Ex. Dice the tomatoes..."></textarea>
            </mat-form-field>
            <br>
            <button mat-raised-button>Add step</button>
        </form>

        <ol id="myUL">
            <li>Hit the gym</li>
            <li class="checked">Pay bills</li>
            <li>Meet George</li>
            <li>Buy eggs</li>
            <li>Read a book</li>
            <li>Organize office</li>
        </ol>
    </div>
</div>