<div class="wrapper">
    <form class="card">
        <div class="heading">
            <h1>Cake&Bake</h1>
            <h5>Register</h5>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a [routerLink]="['/login']">Log In</a>
    </form>
</div>