<main>
    <div class="text">
        <h1>{{recipe.name}}</h1>
        <h5>{{recipe.description}}</h5>
        <h5 *ngIf="response.numRatings != 0 && response.numRatings != null">Rating: {{response.ratings / response.numRatings}}/5</h5>
        <h5 *ngIf="response.numRatings == 0 || response.numRatings == null">No ratings yet</h5>
        <button mat-icon-button><i class="material-icons">thumb_up</i></button>
        <p>Ingredients</p>
        <ul *ngFor="let i of recipe.ingredients">
            <li>{{i.amount}} {{i.name}}</li>
        </ul>
        <p>Steps</p>
        <ul *ngFor="let step of recipe.steps; let i = index">
            <li>{{i + 1}}. {{step}}</li>
        </ul>
    </div>
    <div class="image"></div>
</main>

